name: .NET

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore -r linux-x64
    - name: Build
      run: | 
        dotnet publish -r linux-x64 -p:PublishSingleFile=true -p:Configuration=Release --self-contained true
        cd ..
    - name: Upload Binary
      uses: actions/upload-artifact@v4
      with:
        name: linux
        path: bin/Release/net8.0/linux-x64/publish/

  release:
    needs: [build]
    runs-on: ubuntu-latest

    if: startsWith(github.ref, 'refs/tags')

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with: 
          path: ./artifacts

      - name: Zip
        run: |
            chmod +x ./artifacts/linux/ModlinksShaVerifier
            zip -jr linux.zip ./artifacts/linux/*

      - name: Create release if a new tag is pushed
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./linux.zip
